@font-face {
  font-family: "PPPangramSansRoundedLight";
  src: url("../public/fonts/PangramRounded/PPPangramSansRounded-Light.otf")
    format("opentype");
}
@font-face {
  font-family: "PPPangramSansRoundedMedium";

  src: url("../public/fonts/PangramRounded/PPPangramSansRounded-Medium.otf")
    format("opentype");
}
@font-face {
  font-family: "PPPangramSansRoundedBold";
  src: url("../public/fonts/PangramRounded/PPPangramSansRounded-Bold.otf")
    format("opentype");
}

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
